.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-position: center;
  height: 100vh;
  max-width: 1040px;
  margin: 0;
  padding: 0;
}

.day {
  background-image: url("./images/day_background.png");
}

.night {
  background-image: url("./images/night_background.png");
}

.sunny {
  background-image: url("./images/day_background.png");
}

.clouds {
  background-image: url("./images/cloudy_day_background.png");
}

.snow {
  background-image: url("./images/snow_day_background.png");
}

.rain {
  background-image: url("./images/rain_day_background.png");
}

.clouds-night {
  background-image: url("./images/cloudy_night_background.png");
}

.snow-night {
  background-image: url("./images/snow_night_background.png");
}

.rain-night {
  background-image: url("./images/rain_night_background.png");
}

.title {
  color: white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.app-name {
  font-size: 5vw;
}

h1 {
  padding: 0;
  margin: 0;
}

@media (min-width: 1040px) {
  .app-name {
    font-size: 60px;
  }
}
